[% start_year=2015 %]
=encoding UTF-8

=head1 NAME

HTML::Valid - tidy/validate HTML

=head1 SYNOPSIS

[% INCLUDE "synopsis.pl" | xtidy %]

outputs

[% INCLUDE "synopsis-out.txt" | xtidy %]

=head1 VERSION

This document describes HTML::Valid version [% version %]. This
corresponds to L</HTML Tidy> version [% html_tidy_version %].

=head1 DESCRIPTION

Validate/repair HTML. This module is based on L</HTML Tidy>, but not
on the Perl module L<HTML::Tidy>. However, you do not need to install
HTML Tidy before installing this, because the library is contained in
the distribution.

=head1 FUNCTIONS

=head2 new

    my $htv = HTML::Valid->new ();

=head2 set_filename

    $htv->set_filename ('file.html');

Set the file name for error reporting to F<file.html>.

=head2 run

    my ($output, $errors) = $htv->run ($content);

Get the tidy HTML output and errors.

=head1 SCRIPT

There is a script called "htmlok" which runs on files and prints
errors. It is extremely flaky at the moment. This is an early test
release.

=head1 SEE ALSO

[% INCLUDE "html-tidy.pod" %]

=head2 Online HTML validators

You may like to try these validators for checking your HTML.

=over

=item L<http://www.onlinewebcheck.com/>

Commercial HTML validator.

=item L<http://watson.addy.com/>

Doesn't find any mistakes.

=item L<https://validator.w3.org/>

W3 Consortium validator.

=item L<https://validator.w3.org/nu/>

New W3 Consortium validator.

=back

=head2 CPAN modules

=over

=item L<HTML::Tidy>

=item L<HTML::Lint>

=item HTML::Validator

There is another module called HTML::Validator but only found on Backpan.

=back

=head1 AUTHOR

Ben Bullock <bkb@cpan.org>

=head1 COPYRIGHT AND LICENCE

[% INCLUDE "html-tidy-copyright" %]

